# **Aggregation of Dataframes and Manipulation of Timestamps**

## _ETL Workflow Notebook 1_

## Content:
1. Applying a list of row filters;
2. Merging on timestamp;
3. Merging (joining) dataframes on given keys; and sorting the merged table;
4. Record linkage: fuzzy merging (joining) of dataframes on similar strings;
5. Concatenating (SQL Union/Stacking/Appending) dataframes;
6. Dataframe general characterization;
7. Dropping specific columns or rows from the dataframe;
8. Removing duplicate rows from the dataframe;
9. Removing all columns and rows that contain only missing values;
10. Grouping by timestamp;
11. Grouping by a given variable;
12. Extracting timestamp information;
13. Calculating differences between successive timestamps (delays);
14. Calculating timedeltas;
15. Adding or subtracting timedeltas;
16. Slicing the dataframe (selecting a specific subset of rows).

Marco Cesar Prado Soares, Data Scientist Specialist - Bayer Crop Science LATAM
- marcosoares.feq@gmail.com
- marco.soares@bayer.com

## **Load Python Libraries in Global Context**

In [15]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("patelris/crop-yield-prediction-dataset")

print("Path to dataset files:", path)

# Check if the files are present in the directory
print(os.listdir('/kaggle/input/crop-yield-prediction-dataset'))

Path to dataset files: /kaggle/input/crop-yield-prediction-dataset
['yield.csv', 'temp.csv', 'rainfall.csv', 'pesticides.csv', 'yield_df.csv']

In [2]:
import load
from idsw import *

Package copied to the working directory.
To import its whole content, run:

    from idsw import *

## **Call the functions**

### **Importing the dataset**

In [16]:
## WARNING: Use this function to load dataframes stored on Excel (xls, xlsx, xlsm, xlsb, odf, ods and odt),
## JSON, txt, or CSV (comma separated values) files. Tables in webpages or html files can also be read.

FILE_DIRECTORY_PATH = path
# FILE_DIRECTORY_PATH - (string, in quotes): input the path of the directory
# (e.g. folder path) where the file is stored. e.g. FILE_DIRECTORY_PATH = ""
# or FILE_DIRECTORY_PATH = "folder"

FILE_NAME_WITH_EXTENSION = "yield.csv"
# FILE_NAME_WITH_EXTENSION - (string, in quotes): input the name of the file with the
# extension. e.g. FILE_NAME_WITH_EXTENSION = "file.xlsx", or,
# FILE_NAME_WITH_EXTENSION = "file.csv", "file.txt", or "file.json"
# Again, the extensions may be: xls, xlsx, xlsm, xlsb, odf, ods, odt, json, txt or csv.
# Also, html files and webpages may be also read.

# You may input the path for an HTML file containing a table to be read; or
# a string containing the address for a webpage containing the table. The address must start
# with www or htpp. If a website is input, the full address can be input as FILE_DIRECTORY_PATH
# or as FILE_NAME_WITH_EXTENSION.

LOAD_TXT_FILE_WITH_JSON_FORMAT = False
# LOAD_TXT_FILE_WITH_JSON_FORMAT = False. Set LOAD_TXT_FILE_WITH_JSON_FORMAT = True
# if you want to read a file with txt extension containing a text formatted as JSON
# (but not saved as JSON).
# WARNING: if LOAD_TXT_FILE_WITH_JSON_FORMAT = True, all the JSON file parameters of the
# function (below) must be set. If not, an error message will be raised.

HOW_MISSING_VALUES_ARE_REGISTERED = '..'
# HOW_MISSING_VALUES_ARE_REGISTERED = None: keep it None if missing values are registered as None,
# empty or np.nan. Pandas automatically converts None to NumPy np.nan objects (floats).
# This parameter manipulates the argument na_values (default: None) from Pandas functions.
# By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’,
#‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘<NA>’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’,
# ‘n/a’, ‘nan’, ‘null’.

# If a different denomination is used, indicate it as a string. e.g.
# HOW_MISSING_VALUES_ARE_REGISTERED = '.' will convert all strings '.' to missing values;
# HOW_MISSING_VALUES_ARE_REGISTERED = 0 will convert zeros to missing values.

# If dict passed, specific per-column NA values. For example, if zero is the missing value
# only in column 'numeric_col', you can specify the following dictionary:
# how_missing_values_are_registered = {'numeric-col': 0}


HAS_HEADER = True
# HAS_HEADER = True if the the imported table has headers (row with columns names).
# Alternatively, HAS_HEADER = False if the dataframe does not have header.

DECIMAL_SEPARATOR = '.'
# DECIMAL_SEPARATOR = '.' - String. Keep it '.' or None to use the period ('.') as
# the decimal separator. Alternatively, specify here the separator.
# e.g. DECIMAL_SEPARATOR = ',' will set the comma as the separator.
# It manipulates the argument 'decimal' from Pandas functions.

TXT_CSV_COL_SEP = "comma"
# txt_csv_col_sep = "comma" - This parameter has effect only when the file is a 'txt'
# or 'csv'. It informs how the different columns are separated.
# Alternatively, txt_csv_col_sep = "comma", or txt_csv_col_sep = ","
# for columns separated by comma;
# txt_csv_col_sep = "whitespace", or txt_csv_col_sep = " "
# for columns separated by simple spaces.
# You can also set a specific separator as string. For example:
# txt_csv_col_sep = '\s+'; or txt_csv_col_sep = '\t' (in this last example, the tabulation
# is used as separator for the columns - '\t' represents the tab character).

## Parameters for loading Excel files:

LOAD_ALL_SHEETS_AT_ONCE = False
# LOAD_ALL_SHEETS_AT_ONCE = False - This parameter has effect only when for Excel files.
# If LOAD_ALL_SHEETS_AT_ONCE = True, the function will return a list of dictionaries, each
# dictionary containing 2 key-value pairs: the first key will be 'sheet', and its
# value will be the name (or number) of the table (sheet). The second key will be 'df',
# and its value will be the pandas dataframe object obtained from that sheet.
# This argument has preference over SHEET_TO_LOAD. If it is True, all sheets will be loaded.

SHEET_TO_LOAD = None
# SHEET_TO_LOAD - This parameter has effect only when for Excel files.
# keep SHEET_TO_LOAD = None not to specify a sheet of the file, so that the first sheet
# will be loaded.
# SHEET_TO_LOAD may be an integer or an string (inside quotes). SHEET_TO_LOAD = 0
# loads the first sheet (sheet with index 0); SHEET_TO_LOAD = 1 loads the second sheet
# of the file (index 1); SHEET_TO_LOAD = "Sheet1" loads a sheet named as "Sheet1".
# Declare a number to load the sheet with that index, starting from 0; or declare a
# name to load the sheet with that name.

## Parameters for loading JSON files:

JSON_RECORD_PATH = None
# JSON_RECORD_PATH (string): manipulate parameter 'record_path' from json_normalize method.
# Path in each object to list of records. If not passed, data will be assumed to
# be an array of records. If a given field from the JSON stores a nested JSON (or a nested
# dictionary) declare it here to decompose the content of the nested data. e.g. if the field
# 'books' stores a nested JSON, declare, JSON_RECORD_PATH = 'books'

JSON_FIELD_SEPARATOR = "_"
# JSON_FIELD_SEPARATOR = "_" (string). Manipulates the parameter 'sep' from json_normalize method.
# Nested records will generate names separated by sep.
# e.g., for JSON_FIELD_SEPARATOR = ".", {‘foo’: {‘bar’: 0}} -> foo.bar.
# Then, if a given field 'main_field' stores a nested JSON with fields 'field1', 'field2', ...
# the name of the columns of the dataframe will be formed by concatenating 'main_field', the
# separator, and the names of the nested fields: 'main_field_field1', 'main_field_field2',...

JSON_METADATA_PREFIX_LIST = None
# JSON_METADATA_PREFIX_LIST: list of strings (in quotes). Manipulates the parameter
# 'meta' from json_normalize method. Fields to use as metadata for each record in resulting
# table. Declare here the non-nested fields, i.e., the fields in the principal JSON. They
# will be repeated in the rows of the dataframe to give the metadata (context) of the rows.

# e.g. Suppose a JSON with the following structure: {'name': 'Mary', 'last': 'Shelley',
# 'books': [{'title': 'Frankestein', 'year': 1818}, {'title': 'Mathilda ', 'year': 1819},{'title': 'The Last Man', 'year': 1826}]},
# Here, there are nested JSONs in the field 'books'. The fields that are not nested
# are 'name' and 'last'.
# Then, JSON_RECORD_PATH = 'books'
# JSON_METADATA_PREFIX_LIST = ['name', 'last']


# The dataframe will be stored in the object named 'dataset':
# Simply modify this object on the left of equality:
dataset1 = load_pandas_dataframe (file_directory_path = FILE_DIRECTORY_PATH, file_name_with_extension = FILE_NAME_WITH_EXTENSION, load_txt_file_with_json_format = LOAD_TXT_FILE_WITH_JSON_FORMAT, how_missing_values_are_registered = HOW_MISSING_VALUES_ARE_REGISTERED, has_header = HAS_HEADER, decimal_separator = DECIMAL_SEPARATOR, txt_csv_col_sep = TXT_CSV_COL_SEP, load_all_sheets_at_once = LOAD_ALL_SHEETS_AT_ONCE, sheet_to_load = SHEET_TO_LOAD, json_record_path = JSON_RECORD_PATH, json_field_separator = JSON_FIELD_SEPARATOR, json_metadata_prefix_list = JSON_METADATA_PREFIX_LIST)

# OBS: If an Excel file is loaded and LOAD_ALL_SHEETS_AT_ONCE = True, then the object
# dataset will be a list of dictionaries, with 'sheet' as key containing the sheet name; and 'df'
# as key correspondent to the Pandas dataframe. So, to access the 3rd dataframe (index 2, since
# indexing starts from zero): df = dataframe[2]['df'], where dataframe is the list returned.

Dataset extracted from /kaggle/input/crop-yield-prediction-dataset/yield.csv. Check the 10 first rows of this dataframe:

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400
5,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1966,1966,hg/ha,14400
6,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1967,1967,hg/ha,14144
7,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1968,1968,hg/ha,17064
8,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1969,1969,hg/ha,17177
9,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1970,1970,hg/ha,14757

In [17]:
## WARNING: Use this function to load dataframes stored on Excel (xls, xlsx, xlsm, xlsb, odf, ods and odt),
## JSON, txt, or CSV (comma separated values) files. Tables in webpages or html files can also be read.

FILE_DIRECTORY_PATH = path
# FILE_DIRECTORY_PATH - (string, in quotes): input the path of the directory
# (e.g. folder path) where the file is stored. e.g. FILE_DIRECTORY_PATH = ""
# or FILE_DIRECTORY_PATH = "folder"

FILE_NAME_WITH_EXTENSION = "temp.csv"
# FILE_NAME_WITH_EXTENSION - (string, in quotes): input the name of the file with the
# extension. e.g. FILE_NAME_WITH_EXTENSION = "file.xlsx", or,
# FILE_NAME_WITH_EXTENSION = "file.csv", "file.txt", or "file.json"
# Again, the extensions may be: xls, xlsx, xlsm, xlsb, odf, ods, odt, json, txt or csv.
# Also, html files and webpages may be also read.

# You may input the path for an HTML file containing a table to be read; or
# a string containing the address for a webpage containing the table. The address must start
# with www or htpp. If a website is input, the full address can be input as FILE_DIRECTORY_PATH
# or as FILE_NAME_WITH_EXTENSION.

LOAD_TXT_FILE_WITH_JSON_FORMAT = False
# LOAD_TXT_FILE_WITH_JSON_FORMAT = False. Set LOAD_TXT_FILE_WITH_JSON_FORMAT = True
# if you want to read a file with txt extension containing a text formatted as JSON
# (but not saved as JSON).
# WARNING: if LOAD_TXT_FILE_WITH_JSON_FORMAT = True, all the JSON file parameters of the
# function (below) must be set. If not, an error message will be raised.

HOW_MISSING_VALUES_ARE_REGISTERED = '..'
# HOW_MISSING_VALUES_ARE_REGISTERED = None: keep it None if missing values are registered as None,
# empty or np.nan. Pandas automatically converts None to NumPy np.nan objects (floats).
# This parameter manipulates the argument na_values (default: None) from Pandas functions.
# By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’,
#‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘<NA>’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’,
# ‘n/a’, ‘nan’, ‘null’.

# If a different denomination is used, indicate it as a string. e.g.
# HOW_MISSING_VALUES_ARE_REGISTERED = '.' will convert all strings '.' to missing values;
# HOW_MISSING_VALUES_ARE_REGISTERED = 0 will convert zeros to missing values.

# If dict passed, specific per-column NA values. For example, if zero is the missing value
# only in column 'numeric_col', you can specify the following dictionary:
# how_missing_values_are_registered = {'numeric-col': 0}


HAS_HEADER = True
# HAS_HEADER = True if the the imported table has headers (row with columns names).
# Alternatively, HAS_HEADER = False if the dataframe does not have header.

DECIMAL_SEPARATOR = '.'
# DECIMAL_SEPARATOR = '.' - String. Keep it '.' or None to use the period ('.') as
# the decimal separator. Alternatively, specify here the separator.
# e.g. DECIMAL_SEPARATOR = ',' will set the comma as the separator.
# It manipulates the argument 'decimal' from Pandas functions.

TXT_CSV_COL_SEP = "comma"
# txt_csv_col_sep = "comma" - This parameter has effect only when the file is a 'txt'
# or 'csv'. It informs how the different columns are separated.
# Alternatively, txt_csv_col_sep = "comma", or txt_csv_col_sep = ","
# for columns separated by comma;
# txt_csv_col_sep = "whitespace", or txt_csv_col_sep = " "
# for columns separated by simple spaces.
# You can also set a specific separator as string. For example:
# txt_csv_col_sep = '\s+'; or txt_csv_col_sep = '\t' (in this last example, the tabulation
# is used as separator for the columns - '\t' represents the tab character).

## Parameters for loading Excel files:

LOAD_ALL_SHEETS_AT_ONCE = False
# LOAD_ALL_SHEETS_AT_ONCE = False - This parameter has effect only when for Excel files.
# If LOAD_ALL_SHEETS_AT_ONCE = True, the function will return a list of dictionaries, each
# dictionary containing 2 key-value pairs: the first key will be 'sheet', and its
# value will be the name (or number) of the table (sheet). The second key will be 'df',
# and its value will be the pandas dataframe object obtained from that sheet.
# This argument has preference over SHEET_TO_LOAD. If it is True, all sheets will be loaded.

SHEET_TO_LOAD = None
# SHEET_TO_LOAD - This parameter has effect only when for Excel files.
# keep SHEET_TO_LOAD = None not to specify a sheet of the file, so that the first sheet
# will be loaded.
# SHEET_TO_LOAD may be an integer or an string (inside quotes). SHEET_TO_LOAD = 0
# loads the first sheet (sheet with index 0); SHEET_TO_LOAD = 1 loads the second sheet
# of the file (index 1); SHEET_TO_LOAD = "Sheet1" loads a sheet named as "Sheet1".
# Declare a number to load the sheet with that index, starting from 0; or declare a
# name to load the sheet with that name.

## Parameters for loading JSON files:

JSON_RECORD_PATH = None
# JSON_RECORD_PATH (string): manipulate parameter 'record_path' from json_normalize method.
# Path in each object to list of records. If not passed, data will be assumed to
# be an array of records. If a given field from the JSON stores a nested JSON (or a nested
# dictionary) declare it here to decompose the content of the nested data. e.g. if the field
# 'books' stores a nested JSON, declare, JSON_RECORD_PATH = 'books'

JSON_FIELD_SEPARATOR = "_"
# JSON_FIELD_SEPARATOR = "_" (string). Manipulates the parameter 'sep' from json_normalize method.
# Nested records will generate names separated by sep.
# e.g., for JSON_FIELD_SEPARATOR = ".", {‘foo’: {‘bar’: 0}} -> foo.bar.
# Then, if a given field 'main_field' stores a nested JSON with fields 'field1', 'field2', ...
# the name of the columns of the dataframe will be formed by concatenating 'main_field', the
# separator, and the names of the nested fields: 'main_field_field1', 'main_field_field2',...

JSON_METADATA_PREFIX_LIST = None
# JSON_METADATA_PREFIX_LIST: list of strings (in quotes). Manipulates the parameter
# 'meta' from json_normalize method. Fields to use as metadata for each record in resulting
# table. Declare here the non-nested fields, i.e., the fields in the principal JSON. They
# will be repeated in the rows of the dataframe to give the metadata (context) of the rows.

# e.g. Suppose a JSON with the following structure: {'name': 'Mary', 'last': 'Shelley',
# 'books': [{'title': 'Frankestein', 'year': 1818}, {'title': 'Mathilda ', 'year': 1819},{'title': 'The Last Man', 'year': 1826}]},
# Here, there are nested JSONs in the field 'books'. The fields that are not nested
# are 'name' and 'last'.
# Then, JSON_RECORD_PATH = 'books'
# JSON_METADATA_PREFIX_LIST = ['name', 'last']


# The dataframe will be stored in the object named 'dataset':
# Simply modify this object on the left of equality:
dataset2 = load_pandas_dataframe (file_directory_path = FILE_DIRECTORY_PATH, file_name_with_extension = FILE_NAME_WITH_EXTENSION, load_txt_file_with_json_format = LOAD_TXT_FILE_WITH_JSON_FORMAT, how_missing_values_are_registered = HOW_MISSING_VALUES_ARE_REGISTERED, has_header = HAS_HEADER, decimal_separator = DECIMAL_SEPARATOR, txt_csv_col_sep = TXT_CSV_COL_SEP, load_all_sheets_at_once = LOAD_ALL_SHEETS_AT_ONCE, sheet_to_load = SHEET_TO_LOAD, json_record_path = JSON_RECORD_PATH, json_field_separator = JSON_FIELD_SEPARATOR, json_metadata_prefix_list = JSON_METADATA_PREFIX_LIST)

# OBS: If an Excel file is loaded and LOAD_ALL_SHEETS_AT_ONCE = True, then the object
# dataset will be a list of dictionaries, with 'sheet' as key containing the sheet name; and 'df'
# as key correspondent to the Pandas dataframe. So, to access the 3rd dataframe (index 2, since
# indexing starts from zero): df = dataframe[2]['df'], where dataframe is the list returned.

Dataset extracted from /kaggle/input/crop-yield-prediction-dataset/temp.csv. Check the 10 first rows of this dataframe:

   year        country  avg_temp
0  1849  Côte D'Ivoire     25.58
1  1850  Côte D'Ivoire     25.52
2  1851  Côte D'Ivoire     25.67
3  1852  Côte D'Ivoire       NaN
4  1853  Côte D'Ivoire       NaN
5  1854  Côte D'Ivoire       NaN
6  1855  Côte D'Ivoire       NaN
7  1856  Côte D'Ivoire     26.28
8  1857  Côte D'Ivoire     25.17
9  1858  Côte D'Ivoire     25.49

In [18]:
## WARNING: Use this function to load dataframes stored on Excel (xls, xlsx, xlsm, xlsb, odf, ods and odt),
## JSON, txt, or CSV (comma separated values) files. Tables in webpages or html files can also be read.

FILE_DIRECTORY_PATH = path
# FILE_DIRECTORY_PATH - (string, in quotes): input the path of the directory
# (e.g. folder path) where the file is stored. e.g. FILE_DIRECTORY_PATH = ""
# or FILE_DIRECTORY_PATH = "folder"

FILE_NAME_WITH_EXTENSION = "rainfall.csv"
# FILE_NAME_WITH_EXTENSION - (string, in quotes): input the name of the file with the
# extension. e.g. FILE_NAME_WITH_EXTENSION = "file.xlsx", or,
# FILE_NAME_WITH_EXTENSION = "file.csv", "file.txt", or "file.json"
# Again, the extensions may be: xls, xlsx, xlsm, xlsb, odf, ods, odt, json, txt or csv.
# Also, html files and webpages may be also read.

# You may input the path for an HTML file containing a table to be read; or
# a string containing the address for a webpage containing the table. The address must start
# with www or htpp. If a website is input, the full address can be input as FILE_DIRECTORY_PATH
# or as FILE_NAME_WITH_EXTENSION.

LOAD_TXT_FILE_WITH_JSON_FORMAT = False
# LOAD_TXT_FILE_WITH_JSON_FORMAT = False. Set LOAD_TXT_FILE_WITH_JSON_FORMAT = True
# if you want to read a file with txt extension containing a text formatted as JSON
# (but not saved as JSON).
# WARNING: if LOAD_TXT_FILE_WITH_JSON_FORMAT = True, all the JSON file parameters of the
# function (below) must be set. If not, an error message will be raised.

HOW_MISSING_VALUES_ARE_REGISTERED = '..'
# HOW_MISSING_VALUES_ARE_REGISTERED = None: keep it None if missing values are registered as None,
# empty or np.nan. Pandas automatically converts None to NumPy np.nan objects (floats).
# This parameter manipulates the argument na_values (default: None) from Pandas functions.
# By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’,
#‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘<NA>’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’,
# ‘n/a’, ‘nan’, ‘null’.

# If a different denomination is used, indicate it as a string. e.g.
# HOW_MISSING_VALUES_ARE_REGISTERED = '.' will convert all strings '.' to missing values;
# HOW_MISSING_VALUES_ARE_REGISTERED = 0 will convert zeros to missing values.

# If dict passed, specific per-column NA values. For example, if zero is the missing value
# only in column 'numeric_col', you can specify the following dictionary:
# how_missing_values_are_registered = {'numeric-col': 0}


HAS_HEADER = True
# HAS_HEADER = True if the the imported table has headers (row with columns names).
# Alternatively, HAS_HEADER = False if the dataframe does not have header.

DECIMAL_SEPARATOR = '.'
# DECIMAL_SEPARATOR = '.' - String. Keep it '.' or None to use the period ('.') as
# the decimal separator. Alternatively, specify here the separator.
# e.g. DECIMAL_SEPARATOR = ',' will set the comma as the separator.
# It manipulates the argument 'decimal' from Pandas functions.

TXT_CSV_COL_SEP = "comma"
# txt_csv_col_sep = "comma" - This parameter has effect only when the file is a 'txt'
# or 'csv'. It informs how the different columns are separated.
# Alternatively, txt_csv_col_sep = "comma", or txt_csv_col_sep = ","
# for columns separated by comma;
# txt_csv_col_sep = "whitespace", or txt_csv_col_sep = " "
# for columns separated by simple spaces.
# You can also set a specific separator as string. For example:
# txt_csv_col_sep = '\s+'; or txt_csv_col_sep = '\t' (in this last example, the tabulation
# is used as separator for the columns - '\t' represents the tab character).

## Parameters for loading Excel files:

LOAD_ALL_SHEETS_AT_ONCE = False
# LOAD_ALL_SHEETS_AT_ONCE = False - This parameter has effect only when for Excel files.
# If LOAD_ALL_SHEETS_AT_ONCE = True, the function will return a list of dictionaries, each
# dictionary containing 2 key-value pairs: the first key will be 'sheet', and its
# value will be the name (or number) of the table (sheet). The second key will be 'df',
# and its value will be the pandas dataframe object obtained from that sheet.
# This argument has preference over SHEET_TO_LOAD. If it is True, all sheets will be loaded.

SHEET_TO_LOAD = None
# SHEET_TO_LOAD - This parameter has effect only when for Excel files.
# keep SHEET_TO_LOAD = None not to specify a sheet of the file, so that the first sheet
# will be loaded.
# SHEET_TO_LOAD may be an integer or an string (inside quotes). SHEET_TO_LOAD = 0
# loads the first sheet (sheet with index 0); SHEET_TO_LOAD = 1 loads the second sheet
# of the file (index 1); SHEET_TO_LOAD = "Sheet1" loads a sheet named as "Sheet1".
# Declare a number to load the sheet with that index, starting from 0; or declare a
# name to load the sheet with that name.

## Parameters for loading JSON files:

JSON_RECORD_PATH = None
# JSON_RECORD_PATH (string): manipulate parameter 'record_path' from json_normalize method.
# Path in each object to list of records. If not passed, data will be assumed to
# be an array of records. If a given field from the JSON stores a nested JSON (or a nested
# dictionary) declare it here to decompose the content of the nested data. e.g. if the field
# 'books' stores a nested JSON, declare, JSON_RECORD_PATH = 'books'

JSON_FIELD_SEPARATOR = "_"
# JSON_FIELD_SEPARATOR = "_" (string). Manipulates the parameter 'sep' from json_normalize method.
# Nested records will generate names separated by sep.
# e.g., for JSON_FIELD_SEPARATOR = ".", {‘foo’: {‘bar’: 0}} -> foo.bar.
# Then, if a given field 'main_field' stores a nested JSON with fields 'field1', 'field2', ...
# the name of the columns of the dataframe will be formed by concatenating 'main_field', the
# separator, and the names of the nested fields: 'main_field_field1', 'main_field_field2',...

JSON_METADATA_PREFIX_LIST = None
# JSON_METADATA_PREFIX_LIST: list of strings (in quotes). Manipulates the parameter
# 'meta' from json_normalize method. Fields to use as metadata for each record in resulting
# table. Declare here the non-nested fields, i.e., the fields in the principal JSON. They
# will be repeated in the rows of the dataframe to give the metadata (context) of the rows.

# e.g. Suppose a JSON with the following structure: {'name': 'Mary', 'last': 'Shelley',
# 'books': [{'title': 'Frankestein', 'year': 1818}, {'title': 'Mathilda ', 'year': 1819},{'title': 'The Last Man', 'year': 1826}]},
# Here, there are nested JSONs in the field 'books'. The fields that are not nested
# are 'name' and 'last'.
# Then, JSON_RECORD_PATH = 'books'
# JSON_METADATA_PREFIX_LIST = ['name', 'last']


# The dataframe will be stored in the object named 'dataset':
# Simply modify this object on the left of equality:
dataset3 = load_pandas_dataframe (file_directory_path = FILE_DIRECTORY_PATH, file_name_with_extension = FILE_NAME_WITH_EXTENSION, load_txt_file_with_json_format = LOAD_TXT_FILE_WITH_JSON_FORMAT, how_missing_values_are_registered = HOW_MISSING_VALUES_ARE_REGISTERED, has_header = HAS_HEADER, decimal_separator = DECIMAL_SEPARATOR, txt_csv_col_sep = TXT_CSV_COL_SEP, load_all_sheets_at_once = LOAD_ALL_SHEETS_AT_ONCE, sheet_to_load = SHEET_TO_LOAD, json_record_path = JSON_RECORD_PATH, json_field_separator = JSON_FIELD_SEPARATOR, json_metadata_prefix_list = JSON_METADATA_PREFIX_LIST)

# OBS: If an Excel file is loaded and LOAD_ALL_SHEETS_AT_ONCE = True, then the object
# dataset will be a list of dictionaries, with 'sheet' as key containing the sheet name; and 'df'
# as key correspondent to the Pandas dataframe. So, to access the 3rd dataframe (index 2, since
# indexing starts from zero): df = dataframe[2]['df'], where dataframe is the list returned.

Dataset extracted from /kaggle/input/crop-yield-prediction-dataset/rainfall.csv. Check the 10 first rows of this dataframe:

          Area  Year  average_rain_fall_mm_per_year
0  Afghanistan  1985                          327.0
1  Afghanistan  1986                          327.0
2  Afghanistan  1987                          327.0
3  Afghanistan  1989                          327.0
4  Afghanistan  1990                          327.0
5  Afghanistan  1991                          327.0
6  Afghanistan  1992                          327.0
7  Afghanistan  1993                          327.0
8  Afghanistan  1994                          327.0
9  Afghanistan  1995                          327.0

In [19]:
## WARNING: Use this function to load dataframes stored on Excel (xls, xlsx, xlsm, xlsb, odf, ods and odt),
## JSON, txt, or CSV (comma separated values) files. Tables in webpages or html files can also be read.

FILE_DIRECTORY_PATH = path
# FILE_DIRECTORY_PATH - (string, in quotes): input the path of the directory
# (e.g. folder path) where the file is stored. e.g. FILE_DIRECTORY_PATH = ""
# or FILE_DIRECTORY_PATH = "folder"

FILE_NAME_WITH_EXTENSION = "pesticides.csv"
# FILE_NAME_WITH_EXTENSION - (string, in quotes): input the name of the file with the
# extension. e.g. FILE_NAME_WITH_EXTENSION = "file.xlsx", or,
# FILE_NAME_WITH_EXTENSION = "file.csv", "file.txt", or "file.json"
# Again, the extensions may be: xls, xlsx, xlsm, xlsb, odf, ods, odt, json, txt or csv.
# Also, html files and webpages may be also read.

# You may input the path for an HTML file containing a table to be read; or
# a string containing the address for a webpage containing the table. The address must start
# with www or htpp. If a website is input, the full address can be input as FILE_DIRECTORY_PATH
# or as FILE_NAME_WITH_EXTENSION.

LOAD_TXT_FILE_WITH_JSON_FORMAT = False
# LOAD_TXT_FILE_WITH_JSON_FORMAT = False. Set LOAD_TXT_FILE_WITH_JSON_FORMAT = True
# if you want to read a file with txt extension containing a text formatted as JSON
# (but not saved as JSON).
# WARNING: if LOAD_TXT_FILE_WITH_JSON_FORMAT = True, all the JSON file parameters of the
# function (below) must be set. If not, an error message will be raised.

HOW_MISSING_VALUES_ARE_REGISTERED = '..'
# HOW_MISSING_VALUES_ARE_REGISTERED = None: keep it None if missing values are registered as None,
# empty or np.nan. Pandas automatically converts None to NumPy np.nan objects (floats).
# This parameter manipulates the argument na_values (default: None) from Pandas functions.
# By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’,
#‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘<NA>’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’,
# ‘n/a’, ‘nan’, ‘null’.

# If a different denomination is used, indicate it as a string. e.g.
# HOW_MISSING_VALUES_ARE_REGISTERED = '.' will convert all strings '.' to missing values;
# HOW_MISSING_VALUES_ARE_REGISTERED = 0 will convert zeros to missing values.

# If dict passed, specific per-column NA values. For example, if zero is the missing value
# only in column 'numeric_col', you can specify the following dictionary:
# how_missing_values_are_registered = {'numeric-col': 0}


HAS_HEADER = True
# HAS_HEADER = True if the the imported table has headers (row with columns names).
# Alternatively, HAS_HEADER = False if the dataframe does not have header.

DECIMAL_SEPARATOR = '.'
# DECIMAL_SEPARATOR = '.' - String. Keep it '.' or None to use the period ('.') as
# the decimal separator. Alternatively, specify here the separator.
# e.g. DECIMAL_SEPARATOR = ',' will set the comma as the separator.
# It manipulates the argument 'decimal' from Pandas functions.

TXT_CSV_COL_SEP = "comma"
# txt_csv_col_sep = "comma" - This parameter has effect only when the file is a 'txt'
# or 'csv'. It informs how the different columns are separated.
# Alternatively, txt_csv_col_sep = "comma", or txt_csv_col_sep = ","
# for columns separated by comma;
# txt_csv_col_sep = "whitespace", or txt_csv_col_sep = " "
# for columns separated by simple spaces.
# You can also set a specific separator as string. For example:
# txt_csv_col_sep = '\s+'; or txt_csv_col_sep = '\t' (in this last example, the tabulation
# is used as separator for the columns - '\t' represents the tab character).

## Parameters for loading Excel files:

LOAD_ALL_SHEETS_AT_ONCE = False
# LOAD_ALL_SHEETS_AT_ONCE = False - This parameter has effect only when for Excel files.
# If LOAD_ALL_SHEETS_AT_ONCE = True, the function will return a list of dictionaries, each
# dictionary containing 2 key-value pairs: the first key will be 'sheet', and its
# value will be the name (or number) of the table (sheet). The second key will be 'df',
# and its value will be the pandas dataframe object obtained from that sheet.
# This argument has preference over SHEET_TO_LOAD. If it is True, all sheets will be loaded.

SHEET_TO_LOAD = None
# SHEET_TO_LOAD - This parameter has effect only when for Excel files.
# keep SHEET_TO_LOAD = None not to specify a sheet of the file, so that the first sheet
# will be loaded.
# SHEET_TO_LOAD may be an integer or an string (inside quotes). SHEET_TO_LOAD = 0
# loads the first sheet (sheet with index 0); SHEET_TO_LOAD = 1 loads the second sheet
# of the file (index 1); SHEET_TO_LOAD = "Sheet1" loads a sheet named as "Sheet1".
# Declare a number to load the sheet with that index, starting from 0; or declare a
# name to load the sheet with that name.

## Parameters for loading JSON files:

JSON_RECORD_PATH = None
# JSON_RECORD_PATH (string): manipulate parameter 'record_path' from json_normalize method.
# Path in each object to list of records. If not passed, data will be assumed to
# be an array of records. If a given field from the JSON stores a nested JSON (or a nested
# dictionary) declare it here to decompose the content of the nested data. e.g. if the field
# 'books' stores a nested JSON, declare, JSON_RECORD_PATH = 'books'

JSON_FIELD_SEPARATOR = "_"
# JSON_FIELD_SEPARATOR = "_" (string). Manipulates the parameter 'sep' from json_normalize method.
# Nested records will generate names separated by sep.
# e.g., for JSON_FIELD_SEPARATOR = ".", {‘foo’: {‘bar’: 0}} -> foo.bar.
# Then, if a given field 'main_field' stores a nested JSON with fields 'field1', 'field2', ...
# the name of the columns of the dataframe will be formed by concatenating 'main_field', the
# separator, and the names of the nested fields: 'main_field_field1', 'main_field_field2',...

JSON_METADATA_PREFIX_LIST = None
# JSON_METADATA_PREFIX_LIST: list of strings (in quotes). Manipulates the parameter
# 'meta' from json_normalize method. Fields to use as metadata for each record in resulting
# table. Declare here the non-nested fields, i.e., the fields in the principal JSON. They
# will be repeated in the rows of the dataframe to give the metadata (context) of the rows.

# e.g. Suppose a JSON with the following structure: {'name': 'Mary', 'last': 'Shelley',
# 'books': [{'title': 'Frankestein', 'year': 1818}, {'title': 'Mathilda ', 'year': 1819},{'title': 'The Last Man', 'year': 1826}]},
# Here, there are nested JSONs in the field 'books'. The fields that are not nested
# are 'name' and 'last'.
# Then, JSON_RECORD_PATH = 'books'
# JSON_METADATA_PREFIX_LIST = ['name', 'last']


# The dataframe will be stored in the object named 'dataset':
# Simply modify this object on the left of equality:
dataset4 = load_pandas_dataframe (file_directory_path = FILE_DIRECTORY_PATH, file_name_with_extension = FILE_NAME_WITH_EXTENSION, load_txt_file_with_json_format = LOAD_TXT_FILE_WITH_JSON_FORMAT, how_missing_values_are_registered = HOW_MISSING_VALUES_ARE_REGISTERED, has_header = HAS_HEADER, decimal_separator = DECIMAL_SEPARATOR, txt_csv_col_sep = TXT_CSV_COL_SEP, load_all_sheets_at_once = LOAD_ALL_SHEETS_AT_ONCE, sheet_to_load = SHEET_TO_LOAD, json_record_path = JSON_RECORD_PATH, json_field_separator = JSON_FIELD_SEPARATOR, json_metadata_prefix_list = JSON_METADATA_PREFIX_LIST)

# OBS: If an Excel file is loaded and LOAD_ALL_SHEETS_AT_ONCE = True, then the object
# dataset will be a list of dictionaries, with 'sheet' as key containing the sheet name; and 'df'
# as key correspondent to the Pandas dataframe. So, to access the 3rd dataframe (index 2, since
# indexing starts from zero): df = dataframe[2]['df'], where dataframe is the list returned.

Dataset extracted from /kaggle/input/crop-yield-prediction-dataset/pesticides.csv. Check the 10 first rows of this dataframe:

,Domain,Area,Element,Item,Year,Unit,Value
0,Pesticides Use,Albania,Use,Pesticides (total),1990,tonnes of active ingredients,121.00
1,Pesticides Use,Albania,Use,Pesticides (total),1991,tonnes of active ingredients,121.00
2,Pesticides Use,Albania,Use,Pesticides (total),1992,tonnes of active ingredients,121.00
3,Pesticides Use,Albania,Use,Pesticides (total),1993,tonnes of active ingredients,121.00
4,Pesticides Use,Albania,Use,Pesticides (total),1994,tonnes of active ingredients,201.00
5,Pesticides Use,Albania,Use,Pesticides (total),1995,tonnes of active ingredients,251.00
6,Pesticides Use,Albania,Use,Pesticides (total),1996,tonnes of active ingredients,313.96
7,Pesticides Use,Albania,Use,Pesticides (total),1997,tonnes of active ingredients,376.93
8,Pesticides Use,Albania,Use,Pesticides (total),1998,tonnes of active ingredients,439.89
9,Pesticides Use,Albania,Use,Pesticides (total),1999,tonnes of active ingredients,502.86

In [20]:
# Check columns for each dataset loaded
print(dataset1.columns)
print(dataset2.columns)
print(dataset3.columns)
print(dataset4.columns)

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value'],
      dtype='object')
Index(['year', 'country', 'avg_temp'], dtype='object')
Index([' Area', 'Year', 'average_rain_fall_mm_per_year'], dtype='object')
Index(['Domain', 'Area', 'Element', 'Item', 'Year', 'Unit', 'Value'], dtype='object')

In [21]:
# Homogeneize columns names - lowercase, trim and replace whitespaces by _
dataset1.columns = [str(col).lower().strip().replace(" ", "_") for col in dataset1.columns]
dataset2.columns = [str(col).lower().strip().replace(" ", "_") for col in dataset2.columns]
dataset3.columns = [str(col).lower().strip().replace(" ", "_") for col in dataset3.columns]
dataset4.columns = [str(col).lower().strip().replace(" ", "_") for col in dataset4.columns]
print(dataset1.columns)
print(dataset2.columns)
print(dataset3.columns)
print(dataset4.columns)

Index(['domain_code', 'domain', 'area_code', 'area', 'element_code', 'element',
       'item_code', 'item', 'year_code', 'year', 'unit', 'value'],
      dtype='object')
Index(['year', 'country', 'avg_temp'], dtype='object')
Index(['area', 'year', 'average_rain_fall_mm_per_year'], dtype='object')
Index(['domain', 'area', 'element', 'item', 'year', 'unit', 'value'], dtype='object')

In [22]:
DF_LEFT = dataset1 #Alternatively: object containing the dataset to be joined on the left
DF_RIGHT = dataset2 #Alternatively: object containing the dataset to be joined on the right

LEFT_KEYS = ['area', 'year']
# (String) name of column of the left dataframe to be used as key for joining;
# or (list of strings) with the name of the columns, in case multiple
# columns are used as keys.
RIGHT_KEYS = ['country', 'year']
# (String) name of column of the left dataframe to be used as key for joining;
# or (list of strings) with the name of the columns, in case multiple
# columns are used as keys.

HOW_TO_JOIN = "inner"
#Alternatively: "inner", "outer", "left", "right".

MERGED_SUFFIXES = ('_left', '_right')
# SUFFIXES = ('_left', '_right') - tuple of the suffixes to be added to columns.
# Example: suppose both datasets have the column 'Value'. The column from the left dataset
# will be renamed as "Value_left", and the column from the right dataset will be renamed as
# "Value_right".
# Alternatively: modify the strings inside quotes to modify the standard values.
# Do not eliminate the parenthesis that indicate the tuple object.
# Any unmutable list is a tuple. A tuple can be also declared as an unmutable list of two
# objects inside parenthesis instead of the brackets used for lists: []

SORT_MERGED_DF = False
# SORT_MERGED_DF = False not to sort the merged dataframe. If you want to sort it,
# set as True. If SORT_MERGED_DF = True and COLUMN_TO_SORT = None, the dataframe will
# be sorted by its first column.

COLUMN_TO_SORT = None
# COLUMN_TO_SORT = None. Keep it None if the dataframe should not be sorted.
# Alternatively, pass a string with a column name to sort, such as:
# COLUMN_TO_SORT = 'col1'; or a list of columns to use for sorting: COLUMN_TO_SORT =
# ['col1', 'col2']

ASCENDING_SORTING = True
# ascending_sorting = True. If you want to sort the column(s) passed on column_to_sort in
# ascending order, set as True. Set as False if you want to sort in descending order. If
# you want to sort each column passed as list column_to_sort in a specific order, pass a
# list of booleans like ASCENDING_SORTING = [False, True] - the first column of the list
# will be sorted in descending order, whereas the 2nd will be in ascending. Notice that
# the correspondence is element-wise: the boolean in list ASCENDING_SORTING will correspond
# to the sorting order of the column with the same position in list COLUMN_TO_SORT.
# If None, the dataframe will be sorted in ascending order.


#New dataframe saved as merged_df. Simply modify this object on the left of equality:
dataset = merge_and_sort_dataframes (df_left = DF_LEFT, df_right = DF_RIGHT, left_keys = LEFT_KEYS, right_keys = RIGHT_KEYS, how_to_join = HOW_TO_JOIN, merged_suffixes = MERGED_SUFFIXES, sort_merged_df = SORT_MERGED_DF, column_to_sort = COLUMN_TO_SORT, ascending_sorting = ASCENDING_SORTING)

Dataframe successfully merged. Check its 10 first rows:

,domain_code,domain,area_code,area,element_code,element,item_code,item,year_code,year,unit,value,country,avg_temp
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000,Afghanistan,14.23
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000,Afghanistan,14.10
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260,Afghanistan,15.01
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257,Afghanistan,13.73
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400,Afghanistan,13.90
5,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1966,1966,hg/ha,14400,Afghanistan,14.39
6,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1967,1967,hg/ha,14144,Afghanistan,13.84
7,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1968,1968,hg/ha,17064,Afghanistan,13.85
8,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1969,1969,hg/ha,17177,Afghanistan,14.45
9,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1970,1970,hg/ha,14757,Afghanistan,15.22

In [23]:
DF_LEFT = dataset #Alternatively: object containing the dataset to be joined on the left
DF_RIGHT = dataset3 #Alternatively: object containing the dataset to be joined on the right

LEFT_KEYS = ['area', 'year']
# (String) name of column of the left dataframe to be used as key for joining;
# or (list of strings) with the name of the columns, in case multiple
# columns are used as keys.
RIGHT_KEYS = ['area', 'year']
# (String) name of column of the left dataframe to be used as key for joining;
# or (list of strings) with the name of the columns, in case multiple
# columns are used as keys.

HOW_TO_JOIN = "inner"
#Alternatively: "inner", "outer", "left", "right".

MERGED_SUFFIXES = ('_left', '_right')
# SUFFIXES = ('_left', '_right') - tuple of the suffixes to be added to columns.
# Example: suppose both datasets have the column 'Value'. The column from the left dataset
# will be renamed as "Value_left", and the column from the right dataset will be renamed as
# "Value_right".
# Alternatively: modify the strings inside quotes to modify the standard values.
# Do not eliminate the parenthesis that indicate the tuple object.
# Any unmutable list is a tuple. A tuple can be also declared as an unmutable list of two
# objects inside parenthesis instead of the brackets used for lists: []

SORT_MERGED_DF = False
# SORT_MERGED_DF = False not to sort the merged dataframe. If you want to sort it,
# set as True. If SORT_MERGED_DF = True and COLUMN_TO_SORT = None, the dataframe will
# be sorted by its first column.

COLUMN_TO_SORT = None
# COLUMN_TO_SORT = None. Keep it None if the dataframe should not be sorted.
# Alternatively, pass a string with a column name to sort, such as:
# COLUMN_TO_SORT = 'col1'; or a list of columns to use for sorting: COLUMN_TO_SORT =
# ['col1', 'col2']

ASCENDING_SORTING = True
# ascending_sorting = True. If you want to sort the column(s) passed on column_to_sort in
# ascending order, set as True. Set as False if you want to sort in descending order. If
# you want to sort each column passed as list column_to_sort in a specific order, pass a
# list of booleans like ASCENDING_SORTING = [False, True] - the first column of the list
# will be sorted in descending order, whereas the 2nd will be in ascending. Notice that
# the correspondence is element-wise: the boolean in list ASCENDING_SORTING will correspond
# to the sorting order of the column with the same position in list COLUMN_TO_SORT.
# If None, the dataframe will be sorted in ascending order.


#New dataframe saved as merged_df. Simply modify this object on the left of equality:
dataset = merge_and_sort_dataframes (df_left = DF_LEFT, df_right = DF_RIGHT, left_keys = LEFT_KEYS, right_keys = RIGHT_KEYS, how_to_join = HOW_TO_JOIN, merged_suffixes = MERGED_SUFFIXES, sort_merged_df = SORT_MERGED_DF, column_to_sort = COLUMN_TO_SORT, ascending_sorting = ASCENDING_SORTING)

Dataframe successfully merged. Check its 10 first rows:

,domain_code,domain,area_code,area,element_code,element,item_code,item,year_code,year,unit,value,country,avg_temp,average_rain_fall_mm_per_year
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1985,1985,hg/ha,16652,Afghanistan,15.52,327.0
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1986,1986,hg/ha,16875,Afghanistan,14.71,327.0
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1987,1987,hg/ha,17020,Afghanistan,15.46,327.0
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1989,1989,hg/ha,16963,Afghanistan,14.46,327.0
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1990,1990,hg/ha,17582,Afghanistan,15.45,327.0
5,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1991,1991,hg/ha,16800,Afghanistan,14.57,327.0
6,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1992,1992,hg/ha,15000,Afghanistan,14.35,327.0
7,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1993,1993,hg/ha,16786,Afghanistan,14.96,327.0
8,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1994,1994,hg/ha,16667,Afghanistan,14.94,327.0
9,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1995,1995,hg/ha,16563,Afghanistan,15.04,327.0

In [24]:
DF_LEFT = dataset #Alternatively: object containing the dataset to be joined on the left
DF_RIGHT = dataset4 #Alternatively: object containing the dataset to be joined on the right

LEFT_KEYS = ['area', 'year']
# (String) name of column of the left dataframe to be used as key for joining;
# or (list of strings) with the name of the columns, in case multiple
# columns are used as keys.
RIGHT_KEYS = ['area', 'year']
# (String) name of column of the left dataframe to be used as key for joining;
# or (list of strings) with the name of the columns, in case multiple
# columns are used as keys.

HOW_TO_JOIN = "inner"
#Alternatively: "inner", "outer", "left", "right".

MERGED_SUFFIXES = ('_left', '_right')
# SUFFIXES = ('_left', '_right') - tuple of the suffixes to be added to columns.
# Example: suppose both datasets have the column 'Value'. The column from the left dataset
# will be renamed as "Value_left", and the column from the right dataset will be renamed as
# "Value_right".
# Alternatively: modify the strings inside quotes to modify the standard values.
# Do not eliminate the parenthesis that indicate the tuple object.
# Any unmutable list is a tuple. A tuple can be also declared as an unmutable list of two
# objects inside parenthesis instead of the brackets used for lists: []

SORT_MERGED_DF = False
# SORT_MERGED_DF = False not to sort the merged dataframe. If you want to sort it,
# set as True. If SORT_MERGED_DF = True and COLUMN_TO_SORT = None, the dataframe will
# be sorted by its first column.

COLUMN_TO_SORT = None
# COLUMN_TO_SORT = None. Keep it None if the dataframe should not be sorted.
# Alternatively, pass a string with a column name to sort, such as:
# COLUMN_TO_SORT = 'col1'; or a list of columns to use for sorting: COLUMN_TO_SORT =
# ['col1', 'col2']

ASCENDING_SORTING = True
# ascending_sorting = True. If you want to sort the column(s) passed on column_to_sort in
# ascending order, set as True. Set as False if you want to sort in descending order. If
# you want to sort each column passed as list column_to_sort in a specific order, pass a
# list of booleans like ASCENDING_SORTING = [False, True] - the first column of the list
# will be sorted in descending order, whereas the 2nd will be in ascending. Notice that
# the correspondence is element-wise: the boolean in list ASCENDING_SORTING will correspond
# to the sorting order of the column with the same position in list COLUMN_TO_SORT.
# If None, the dataframe will be sorted in ascending order.


#New dataframe saved as merged_df. Simply modify this object on the left of equality:
dataset = merge_and_sort_dataframes (df_left = DF_LEFT, df_right = DF_RIGHT, left_keys = LEFT_KEYS, right_keys = RIGHT_KEYS, how_to_join = HOW_TO_JOIN, merged_suffixes = MERGED_SUFFIXES, sort_merged_df = SORT_MERGED_DF, column_to_sort = COLUMN_TO_SORT, ascending_sorting = ASCENDING_SORTING)

Dataframe successfully merged. Check its 10 first rows:

,domain_code,domain_left,area_code,area,element_code,element_left,item_code,item_left,year_code,year,unit_left,value_left,country,avg_temp,average_rain_fall_mm_per_year,domain_right,element_right,item_right,unit_right,value_right
0,QC,Crops,3,Albania,5419,Yield,56,Maize,1990,1990,hg/ha,36613,Albania,16.37,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
1,QC,Crops,3,Albania,5419,Yield,56,Maize,1991,1991,hg/ha,29068,Albania,15.36,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
2,QC,Crops,3,Albania,5419,Yield,56,Maize,1992,1992,hg/ha,24876,Albania,16.06,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
3,QC,Crops,3,Albania,5419,Yield,56,Maize,1993,1993,hg/ha,24185,Albania,16.05,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
4,QC,Crops,3,Albania,5419,Yield,56,Maize,1994,1994,hg/ha,25848,Albania,16.96,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,201.00
5,QC,Crops,3,Albania,5419,Yield,56,Maize,1995,1995,hg/ha,31300,Albania,15.67,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,251.00
6,QC,Crops,3,Albania,5419,Yield,56,Maize,1996,1996,hg/ha,32604,Albania,15.64,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,313.96
7,QC,Crops,3,Albania,5419,Yield,56,Maize,1997,1997,hg/ha,31862,Albania,15.90,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,376.93
8,QC,Crops,3,Albania,5419,Yield,56,Maize,1998,1998,hg/ha,33416,Albania,16.27,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,439.89
9,QC,Crops,3,Albania,5419,Yield,56,Maize,1999,1999,hg/ha,37455,Albania,16.57,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,502.86

### **Characterizing the dataframe**

In [25]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

#New dataframes saved as df_shape, df_columns_list, df_dtypes, df_general_statistics, df_missing_values.
# Simply modify this object on the left of equality:
df_shape, df_columns_array, df_dtypes, df_general_statistics, df_missing_values = df_general_characterization (df = DATASET)

Dataframe's 10 first rows:

,domain_code,domain_left,area_code,area,element_code,element_left,item_code,item_left,year_code,year,unit_left,value_left,country,avg_temp,average_rain_fall_mm_per_year,domain_right,element_right,item_right,unit_right,value_right
0,QC,Crops,3,Albania,5419,Yield,56,Maize,1990,1990,hg/ha,36613,Albania,16.37,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
1,QC,Crops,3,Albania,5419,Yield,56,Maize,1991,1991,hg/ha,29068,Albania,15.36,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
2,QC,Crops,3,Albania,5419,Yield,56,Maize,1992,1992,hg/ha,24876,Albania,16.06,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
3,QC,Crops,3,Albania,5419,Yield,56,Maize,1993,1993,hg/ha,24185,Albania,16.05,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.00
4,QC,Crops,3,Albania,5419,Yield,56,Maize,1994,1994,hg/ha,25848,Albania,16.96,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,201.00
5,QC,Crops,3,Albania,5419,Yield,56,Maize,1995,1995,hg/ha,31300,Albania,15.67,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,251.00
6,QC,Crops,3,Albania,5419,Yield,56,Maize,1996,1996,hg/ha,32604,Albania,15.64,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,313.96
7,QC,Crops,3,Albania,5419,Yield,56,Maize,1997,1997,hg/ha,31862,Albania,15.90,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,376.93
8,QC,Crops,3,Albania,5419,Yield,56,Maize,1998,1998,hg/ha,33416,Albania,16.27,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,439.89
9,QC,Crops,3,Albania,5419,Yield,56,Maize,1999,1999,hg/ha,37455,Albania,16.57,1485.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,502.86

Dataframe's 10 last rows:

,domain_code,domain_left,area_code,area,element_code,element_left,item_code,item_left,year_code,year,unit_left,value_left,country,avg_temp,average_rain_fall_mm_per_year,domain_right,element_right,item_right,unit_right,value_right
28238,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2004,2004,hg/ha,35000,Zimbabwe,20.31,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3094.08
28239,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2005,2005,hg/ha,35000,Zimbabwe,21.49,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3129.26
28240,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2006,2006,hg/ha,36000,Zimbabwe,20.70,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3164.45
28241,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2007,2007,hg/ha,29998,Zimbabwe,20.75,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3199.63
28242,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2008,2008,hg/ha,30097,Zimbabwe,20.68,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3234.81
28243,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2009,2009,hg/ha,30000,Zimbabwe,20.52,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3269.99
28244,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2010,2010,hg/ha,27681,Zimbabwe,21.17,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3305.17
28245,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2011,2011,hg/ha,26274,Zimbabwe,20.78,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3340.35
28246,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2012,2012,hg/ha,24420,Zimbabwe,20.52,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,3375.53
28247,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2013,2013,hg/ha,22888,Zimbabwe,19.76,657.0,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,2550.07

Dataframe's shape = (number of rows, number of columns) =

(28248, 20)

Dataframe's columns =

Index(['domain_code', 'domain_left', 'area_code', 'area', 'element_code',
       'element_left', 'item_code', 'item_left', 'year_code', 'year',
       'unit_left', 'value_left', 'country', 'avg_temp',
       'average_rain_fall_mm_per_year', 'domain_right', 'element_right',
       'item_right', 'unit_right', 'value_right'],
      dtype='object')

Dataframe's variables types:

dataframe_column
domain_code                       object
domain_left                       object
area_code                          int64
area                              object
element_code                       int64
element_left                      object
item_code                          int64
item_left                         object
year_code                          int64
year                               int64
unit_left                         object
value_left                         int64
country                           object
avg_temp                         float64
average_rain_fall_mm_per_year    float64
domain_right                      object
element_right                     object
item_right                        object
unit_right                        object
value_right                      float64
Name: dtype_series, dtype: object

Dataframe's general (summary) statistics for numeric variables:

dataframe_column,area_code,element_code,item_code,year_code,year,value_left,avg_temp,average_rain_fall_mm_per_year,value_right
count,28248.000000,28248.0,28248.000000,28248.000000,28248.000000,28248.000000,28248.000000,28242.00000,28248.000000
mean,107.259594,5419.0,102.156684,2001.541950,2001.541950,77047.863282,20.543722,1149.05598,37069.136973
std,64.992914,0.0,84.842899,7.052997,7.052997,84950.194454,6.311828,709.81215,59954.787836
min,1.000000,5419.0,15.000000,1990.000000,1990.000000,50.000000,1.300000,51.00000,0.040000
25%,56.000000,5419.0,27.000000,1995.000000,1995.000000,19918.750000,16.710000,593.00000,1695.710000
50%,100.000000,5419.0,83.000000,2001.000000,2001.000000,38295.000000,21.510000,1083.00000,17517.760000
75%,157.000000,5419.0,122.000000,2008.000000,2008.000000,104598.250000,26.000000,1668.00000,48687.880000
max,276.000000,5419.0,489.000000,2013.000000,2013.000000,501412.000000,30.650000,3240.00000,367778.000000

Missing values on each feature; and missingness considering all rows from the dataframe:
(note: 'missingness_accross_rows' was calculated by: checking which rows have at least one missing value (NA); and then comparing total rows with NAs with total rows in the dataframe).

,count_of_missing_values,proportion_of_missing_values,percent_of_missing_values
dataframe_column,,,
domain_code,0,0.000000,0.00000
domain_left,0,0.000000,0.00000
area_code,0,0.000000,0.00000
area,0,0.000000,0.00000
element_code,0,0.000000,0.00000
element_left,0,0.000000,0.00000
item_code,0,0.000000,0.00000
item_left,0,0.000000,0.00000
year_code,0,0.000000,0.00000
year,0,0.000000,0.00000
unit_left,0,0.000000,0.00000
value_left,0,0.000000,0.00000
country,0,0.000000,0.00000
avg_temp,0,0.000000,0.00000
average_rain_fall_mm_per_year,6,0.000212,0.02124
domain_right,0,0.000000,0.00000
element_right,0,0.000000,0.00000
item_right,0,0.000000,0.00000
unit_right,0,0.000000,0.00000
value_right,0,0.000000,0.00000
missingness_accross_rows,6,0.000212,0.02124

- domain_left: table yield - example: Crops
- element_left: table yield - example: Yield
- item_left: table yield - example: Maize
- unit_left: table yield - example: hg/ha
- value_left: table yield - example: 14000
-- Here, we can rename value_left as yield_hg_per_ha and drop element_left and unit_left

-------------------------------------------------------------

- domain_right: table pesticides - example: Pesticides Use
- element_right: table pesticides - example: Use
- item_right: table pesticides - example: Pesticides (total)
- unit_right: table pesticides - example: tonnes of active ingredients
- value_right: table pesticides - example: 121.00
-- Here, we can rename value_right as pesticide_use_tons and drop the other columns

### **Dropping specific columns or rows from the dataframe**

In [26]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

WHAT_TO_DROP = 'columns'
# WHAT_TO_DROP = 'columns' for removing the columns specified by their names (headers)
# in COLS_LIST (a list of strings).
# WHAT_TO_DROP = 'rows' for removing the rows specified by their indices in
# ROW_INDEX_LIST (a list of integers). Remember that the indexing starts from zero, i.e.,
# the first row is row number zero.

COLS_LIST = ['element_left', 'unit_left', 'domain_right', 'element_right', 'item_right', 'unit_right']
# COLS_LIST = list of strings containing the names (headers) of the columns to be removed
# For instance: COLS_LIST = ['col1', 'col2', 'col3'] will
# remove columns 'col1', 'col2', and 'col3' from the dataframe.
# If a single column will be dropped, you can declare it as a string (outside a list)
# e.g. COLS_LIST = 'col1'; or COLS_LIST = ['col1']

ROW_INDEX_LIST = None
# ROW_INDEX_LIST = a list of integers containing the indices of the rows that will be dropped.
# e.g. ROW_INDEX_LIST = [0, 1, 2] will drop the rows with indices 0 (1st row), 1 (2nd row), and
# 2 (third row). Again, if a single row will be dropped, you can declare it as an integer (outside
# a list).
# e.g. ROW_INDEX_LIST = 20 or ROW_INDEX_LIST = [20] to drop the row with index 20 (21st row).

RESET_INDEX_AFTER_DROP = True
# RESET_INDEX_AFTER_DROP = True. keep it True to restarting the indexing numeration after dropping.
# Alternatively, set RESET_INDEX_AFTER_DROP = False to keep the original numeration (the removed indices
# will be missing).

# New dataframe saved as cleaned_df. Simply modify this object on the left of equality:
dataset = drop_columns_or_rows (df = DATASET, what_to_drop = WHAT_TO_DROP, cols_list = COLS_LIST, row_index_list = ROW_INDEX_LIST, reset_index_after_drop = RESET_INDEX_AFTER_DROP)

The columns in ['element_left', 'unit_left', 'domain_right', 'element_right', 'item_right', 'unit_right'] headers list were successfully removed.

The indices of the dataset were successfully restarted.

Check the 10 first rows from the returned dataset:

,domain_code,domain_left,area_code,area,element_code,item_code,item_left,year_code,year,value_left,country,avg_temp,average_rain_fall_mm_per_year,value_right
0,QC,Crops,3,Albania,5419,56,Maize,1990,1990,36613,Albania,16.37,1485.0,121.00
1,QC,Crops,3,Albania,5419,56,Maize,1991,1991,29068,Albania,15.36,1485.0,121.00
2,QC,Crops,3,Albania,5419,56,Maize,1992,1992,24876,Albania,16.06,1485.0,121.00
3,QC,Crops,3,Albania,5419,56,Maize,1993,1993,24185,Albania,16.05,1485.0,121.00
4,QC,Crops,3,Albania,5419,56,Maize,1994,1994,25848,Albania,16.96,1485.0,201.00
5,QC,Crops,3,Albania,5419,56,Maize,1995,1995,31300,Albania,15.67,1485.0,251.00
6,QC,Crops,3,Albania,5419,56,Maize,1996,1996,32604,Albania,15.64,1485.0,313.96
7,QC,Crops,3,Albania,5419,56,Maize,1997,1997,31862,Albania,15.90,1485.0,376.93
8,QC,Crops,3,Albania,5419,56,Maize,1998,1998,33416,Albania,16.27,1485.0,439.89
9,QC,Crops,3,Albania,5419,56,Maize,1999,1999,37455,Albania,16.57,1485.0,502.86

### **Removing duplicate rows from the dataframe**

In [27]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

LIST_OF_COLUMNS_TO_ANALYZE = None
# if LIST_OF_COLUMNS_TO_ANALYZE = None, the whole dataset will be analyzed, i.e., rows
# will be removed only if they have same values for all columns from the dataset.
# Alternatively, pass a list of columns names (strings), if you want to remove rows with
# same values for that combination of columns. Pass it as a list, even if there is a single column
# being declared.
# e.g. LIST_OF_COLUMNS_TO_ANALYZE = ['column1'] will check only 'column1'. Entries with same value
# on 'column1' will be considered duplicates and will be removed.
# LIST_OF_COLUMNS_TO_ANALYZE = ['col1', 'col2',  'col3'] will analyze the combination of 3 columns:
# 'col1', 'col2', and 'col3'. Only rows with same value for these 3 columns will be considered
# duplicates and will be removed.

WHICH_ROW_TO_KEEP = 'first'
# WHICH_ROW_TO_KEEP = 'first' will keep the first detected row and remove all other duplicates. If
# None or an invalid string is input, this method will be selected.
# WHICH_ROW_TO_KEEP = 'last' will keep only the last detected duplicate row, and remove all the others.

RESET_INDEX_AFTER_DROP = True
# RESET_INDEX_AFTER_DROP = True. keep it True to restarting the indexing numeration after dropping.
# Alternatively, set RESET_INDEX_AFTER_DROP = False to keep the original numeration (the removed indices
# will be missing).

# New dataframe saved as cleaned_df. Simply modify this object on the left of equality:
dataset = remove_duplicate_rows (df = DATASET, list_of_columns_to_analyze = LIST_OF_COLUMNS_TO_ANALYZE, which_row_to_keep = WHICH_ROW_TO_KEEP, reset_index_after_drop = RESET_INDEX_AFTER_DROP)

The rows with duplicate entries were successfully removed.
Only the first one of the duplicate entries was kept in the dataset.

The indices of the dataset were successfully restarted.

Check the 10 first rows from the returned dataset:

,domain_code,domain_left,area_code,area,element_code,item_code,item_left,year_code,year,value_left,country,avg_temp,average_rain_fall_mm_per_year,value_right
0,QC,Crops,3,Albania,5419,56,Maize,1990,1990,36613,Albania,16.37,1485.0,121.00
1,QC,Crops,3,Albania,5419,56,Maize,1991,1991,29068,Albania,15.36,1485.0,121.00
2,QC,Crops,3,Albania,5419,56,Maize,1992,1992,24876,Albania,16.06,1485.0,121.00
3,QC,Crops,3,Albania,5419,56,Maize,1993,1993,24185,Albania,16.05,1485.0,121.00
4,QC,Crops,3,Albania,5419,56,Maize,1994,1994,25848,Albania,16.96,1485.0,201.00
5,QC,Crops,3,Albania,5419,56,Maize,1995,1995,31300,Albania,15.67,1485.0,251.00
6,QC,Crops,3,Albania,5419,56,Maize,1996,1996,32604,Albania,15.64,1485.0,313.96
7,QC,Crops,3,Albania,5419,56,Maize,1997,1997,31862,Albania,15.90,1485.0,376.93
8,QC,Crops,3,Albania,5419,56,Maize,1998,1998,33416,Albania,16.27,1485.0,439.89
9,QC,Crops,3,Albania,5419,56,Maize,1999,1999,37455,Albania,16.57,1485.0,502.86

### **Removing all columns and rows that contain only missing values**

In [28]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

LIST_OF_COLUMNS_TO_IGNORE = None
# list_of_columns_to_ignore: if you do not want to check a specific column, pass its name
# (header) as an element from this list. It should be declared as a list even if it contains
# a single value.
# e.g. list_of_columns_to_ignore = ['column1'] will not analyze missing values in column named
# 'column1'; list_of_columns_to_ignore = ['col1', 'col2'] will ignore columns 'col1' and 'col2'

# Cleaned dataframe returned as cleaned_df.
# Simply modify this object on the left of equality:
dataset = remove_completely_blank_rows_and_columns (df = DATASET, list_of_columns_to_ignore = LIST_OF_COLUMNS_TO_IGNORE)

0 rows were completely blank and were removed.

0 columns were completely blank and were removed.

No blank columns or rows were found. Returning the original dataframe.

### **Characterizing the categorical variables**

In [29]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

TIMESTAMP_TAG_COLUMN = None
# TIMESTAMP_TAG_COLUMN: name (header) of the column containing the timestamps.
# Keep TIMESTAMP_TAG_COLUMN = None if the dataframe do not contain timestamps.

# Dataframe with summary from the categorical variables returned as cat_vars_summary.
# Simply modify this object on the left of equality:
cat_vars_summary = characterize_categorical_variables (df = DATASET, timestamp_tag_column = TIMESTAMP_TAG_COLUMN)

Finished analyzing the categorical variables. Check the summary dataframe:

,value,counts_of_occurences,percent_of_occurences,categorical_variable
0,NaN,0,0.000000,domain_code
1,QC,25938,100.000000,domain_code
2,NaN,0,0.000000,domain_left
3,Crops,25938,100.000000,domain_left
4,NaN,0,0.000000,area
...,...,...,...,...
214,Ukraine,126,0.485774,country
215,United Kingdom,184,0.709384,country
216,Uruguay,161,0.620711,country
217,Zambia,184,0.709384,country
218,Zimbabwe,184,0.709384,country

In [30]:
print(np.unique(np.array(cat_vars_summary['categorical_variable'])))

['area' 'country' 'domain_code' 'domain_left' 'item_left']

In [31]:
print("Total countries", len(cat_vars_summary[cat_vars_summary['categorical_variable'] == 'country']['value'].value_counts()))
print("Total domain_code", len(cat_vars_summary[cat_vars_summary['categorical_variable'] == 'domain_code']['value'].value_counts()))
print("Total areas", len(cat_vars_summary[cat_vars_summary['categorical_variable'] == 'area']['value'].value_counts()))
print("Total domain_left", len(cat_vars_summary[cat_vars_summary['categorical_variable'] == 'domain_left']['value'].value_counts()))
print("Total item_left", len(cat_vars_summary[cat_vars_summary['categorical_variable'] == 'item_left']['value'].value_counts()))

Total countries 101
Total domain_code 1
Total areas 101
Total domain_left 1
Total item_left 10

## domain_left and domain_code are constant variables that may be dropped

In [32]:
dataset

,domain_code,domain_left,area_code,area,element_code,item_code,item_left,year_code,year,value_left,country,avg_temp,average_rain_fall_mm_per_year,value_right
0,QC,Crops,3,Albania,5419,56,Maize,1990,1990,36613,Albania,16.37,1485.0,121.00
1,QC,Crops,3,Albania,5419,56,Maize,1991,1991,29068,Albania,15.36,1485.0,121.00
2,QC,Crops,3,Albania,5419,56,Maize,1992,1992,24876,Albania,16.06,1485.0,121.00
3,QC,Crops,3,Albania,5419,56,Maize,1993,1993,24185,Albania,16.05,1485.0,121.00
4,QC,Crops,3,Albania,5419,56,Maize,1994,1994,25848,Albania,16.96,1485.0,201.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25933,QC,Crops,181,Zimbabwe,5419,15,Wheat,2009,2009,30000,Zimbabwe,20.52,657.0,3269.99
25934,QC,Crops,181,Zimbabwe,5419,15,Wheat,2010,2010,27681,Zimbabwe,21.17,657.0,3305.17
25935,QC,Crops,181,Zimbabwe,5419,15,Wheat,2011,2011,26274,Zimbabwe,20.78,657.0,3340.35
25936,QC,Crops,181,Zimbabwe,5419,15,Wheat,2012,2012,24420,Zimbabwe,20.52,657.0,3375.53
25937,QC,Crops,181,Zimbabwe,5419,15,Wheat,2013,2013,22888,Zimbabwe,19.76,657.0,2550.07

In [33]:
print("Total unique area_code ", len(np.unique(dataset['area_code'])))
print("Total unique element_code ", len(np.unique(dataset['element_code'])))
print("Total unique item_code ", len(np.unique(dataset['item_code'])))
print("Cases where year_code different from year ", np.sum(np.array(dataset['year_code']) != np.array(dataset['year'])))
print("Cases where area different from country ", np.sum(np.array(dataset['area']) != np.array(dataset['country'])))

Total unique area_code  101
Total unique element_code  1
Total unique item_code  10
Cases where year_code different from year  0
Cases where area different from country  0

- area, country, and area_code represent essentially the same information: we may keep only 'country'
- domain_code and domain_left are constant and represent 'Crops' - we may drop both
- element_code is constant and may be dropped
- item_code and item_left represent the same information - we can drop item_code
- year_code is equal to year and may be dropped.

NOTICE: ORDINAL ENCODING WAS USED FOR ENCODING VARIABLES, A PROCEDURE NOT ADEQUATE FOR MODELLING. IT WILL BE REPLACED BY THE ONE-HOT ENCODING

Columns to drop: ['area', 'area_code', 'domain_code', 'domain_left', 'item_code', 'year_code']

In [34]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

WHAT_TO_DROP = 'columns'
# WHAT_TO_DROP = 'columns' for removing the columns specified by their names (headers)
# in COLS_LIST (a list of strings).
# WHAT_TO_DROP = 'rows' for removing the rows specified by their indices in
# ROW_INDEX_LIST (a list of integers). Remember that the indexing starts from zero, i.e.,
# the first row is row number zero.

COLS_LIST =  ['area', 'area_code', 'domain_code', 'domain_left', 'item_code', 'year_code', 'element_code']
# COLS_LIST = list of strings containing the names (headers) of the columns to be removed
# For instance: COLS_LIST = ['col1', 'col2', 'col3'] will
# remove columns 'col1', 'col2', and 'col3' from the dataframe.
# If a single column will be dropped, you can declare it as a string (outside a list)
# e.g. COLS_LIST = 'col1'; or COLS_LIST = ['col1']

ROW_INDEX_LIST = None
# ROW_INDEX_LIST = a list of integers containing the indices of the rows that will be dropped.
# e.g. ROW_INDEX_LIST = [0, 1, 2] will drop the rows with indices 0 (1st row), 1 (2nd row), and
# 2 (third row). Again, if a single row will be dropped, you can declare it as an integer (outside
# a list).
# e.g. ROW_INDEX_LIST = 20 or ROW_INDEX_LIST = [20] to drop the row with index 20 (21st row).

RESET_INDEX_AFTER_DROP = True
# RESET_INDEX_AFTER_DROP = True. keep it True to restarting the indexing numeration after dropping.
# Alternatively, set RESET_INDEX_AFTER_DROP = False to keep the original numeration (the removed indices
# will be missing).

# New dataframe saved as cleaned_df. Simply modify this object on the left of equality:
dataset = drop_columns_or_rows (df = DATASET, what_to_drop = WHAT_TO_DROP, cols_list = COLS_LIST, row_index_list = ROW_INDEX_LIST, reset_index_after_drop = RESET_INDEX_AFTER_DROP)

The columns in ['area', 'area_code', 'domain_code', 'domain_left', 'item_code', 'year_code', 'element_code'] headers list were successfully removed.

The indices of the dataset were successfully restarted.

Check the 10 first rows from the returned dataset:

,item_left,year,value_left,country,avg_temp,average_rain_fall_mm_per_year,value_right
0,Maize,1990,36613,Albania,16.37,1485.0,121.00
1,Maize,1991,29068,Albania,15.36,1485.0,121.00
2,Maize,1992,24876,Albania,16.06,1485.0,121.00
3,Maize,1993,24185,Albania,16.05,1485.0,121.00
4,Maize,1994,25848,Albania,16.96,1485.0,201.00
5,Maize,1995,31300,Albania,15.67,1485.0,251.00
6,Maize,1996,32604,Albania,15.64,1485.0,313.96
7,Maize,1997,31862,Albania,15.90,1485.0,376.93
8,Maize,1998,33416,Albania,16.27,1485.0,439.89
9,Maize,1999,37455,Albania,16.57,1485.0,502.86

In [47]:
# Rename columns:
dataset.columns = ['item', 'year', 'yield_hg_per_ha', 'country', 'avg_temp', 'average_rain_fall_mm_per_year', 'pesticide_use_tons']
#Reorder columns
dataset = dataset[['year', 'country', 'item', 'avg_temp', 'average_rain_fall_mm_per_year', 'pesticide_use_tons', 'yield_hg_per_ha']]
dataset

,year,country,item,avg_temp,average_rain_fall_mm_per_year,pesticide_use_tons,yield_hg_per_ha
0,1990,Albania,Maize,16.37,1485.0,121.00,36613
1,1991,Albania,Maize,15.36,1485.0,121.00,29068
2,1992,Albania,Maize,16.06,1485.0,121.00,24876
3,1993,Albania,Maize,16.05,1485.0,121.00,24185
4,1994,Albania,Maize,16.96,1485.0,201.00,25848
...,...,...,...,...,...,...,...
25933,2009,Zimbabwe,Wheat,20.52,657.0,3269.99,30000
25934,2010,Zimbabwe,Wheat,21.17,657.0,3305.17,27681
25935,2011,Zimbabwe,Wheat,20.78,657.0,3340.35,26274
25936,2012,Zimbabwe,Wheat,20.52,657.0,3375.53,24420
25937,2013,Zimbabwe,Wheat,19.76,657.0,2550.07,22888

In [66]:
# Put country first, so that the df is divided between individual countries
dataset = dataset[['country', 'year', 'item', 'avg_temp', 'average_rain_fall_mm_per_year', 'pesticide_use_tons', 'yield_hg_per_ha']]
dataset = dataset.sort_values(by = ['country', 'year', 'item', 'yield_hg_per_ha'], ascending = [True, True, True, False])
dataset = dataset.reset_index(drop = True)

In [67]:
dataset

,country,year,item,avg_temp,average_rain_fall_mm_per_year,pesticide_use_tons,yield_hg_per_ha
0,Albania,1990,Maize,16.37,1485.0,121.00,36613
1,Albania,1990,Potatoes,16.37,1485.0,121.00,66667
2,Albania,1990,"Rice, paddy",16.37,1485.0,121.00,23333
3,Albania,1990,Sorghum,16.37,1485.0,121.00,12500
4,Albania,1990,Soybeans,16.37,1485.0,121.00,7000
...,...,...,...,...,...,...,...
25933,Zimbabwe,2013,"Rice, paddy",19.76,657.0,2550.07,22581
25934,Zimbabwe,2013,Sorghum,19.76,657.0,2550.07,3066
25935,Zimbabwe,2013,Soybeans,19.76,657.0,2550.07,13142
25936,Zimbabwe,2013,Sweet potatoes,19.76,657.0,2550.07,22222
25937,Zimbabwe,2013,Wheat,19.76,657.0,2550.07,22888

### **Grouping the dataframe by a given variable**
- Categorical variables are grouped by this function only when a proper aggregation function is selected, like the 'mode'.
- If other aggregate is selected, only numeric variables are grouped.

#### Case 1: return a statistics summary dataframe

In [ ]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

VARIABLES_TO_GROUP_BY = 'item_left'
# string (inside quotes) containing the name
# of the column in terms of which the dataframe will be grouped by.;
# or (list of strings) with the name of the columns, in case multiple columns
# are used as keys. e.g. variables_to_group_by = "column1" will group the
# dataframe in terms of 'column1'.
# WARNING: do not use this function to group a dataframe in terms of a timestamp.
# To group by a timestamp, use function group_variables_by_timestamp instead.

RETURN_SUMMARY_DATAFRAME = True
# RETURN_SUMMARY_DATAFRAME = False. Set RETURN_SUMMARY_DATAFRAME = True if you want the function
# to return a dataframe containing summary statistics (obtained with the describe method).

SUBSET_OF_COLUMNS_TO_AGGREGATE = ['value_left', 'avg_temp', 'average_rain_fall_mm_per_year', 'value_right']
# SUBSET_OF_COLUMNS_TO_AGGREGATE: list of strings (inside quotes) containing the names
# of the columns that will be aggregated. Use this argument if you want to aggregate only a subset,
# not the whole dataframe. Declare as a list even if there is a single column to group by.
# e.g. SUBSET_OF_COLUMNS_TO_AGGREGATE = ["response_feature"] will return the column
# 'response_feature' grouped. SUBSET_OF_COLUMNS_TO_AGGREGATE = ["col1", 'col2'] will return columns
# 'col1' and 'col2' grouped.
# If you want to aggregate the whole subset, keep SUBSET_OF_COLUMNS_TO_AGGREGATE = None.

AGGREGATE_FUNCTION = 'mean'
# AGGREGATE_FUNCTION = 'mean': String defining the aggregation
# method that will be applied. Possible values:
# 'median', 'mean', 'mode', 'sum', 'min', 'max', 'variance', 'count',
# 'standard_deviation', 'cum_sum', 'cum_prod', 'cum_max', 'cum_min',
# '10_percent_quantile', '20_percent_quantile',
# '25_percent_quantile', '30_percent_quantile', '40_percent_quantile',
# '50_percent_quantile', '60_percent_quantile', '70_percent_quantile',
# '75_percent_quantile', '80_percent_quantile', '90_percent_quantile',
# '95_percent_quantile', 'kurtosis', 'skew', 'interquartile_range',
# 'mean_standard_error', 'entropy'
# To use another aggregate function, you can use the .agg method, passing
# the aggregate as argument, such as in:
# .agg(scipy.stats.mode),
# where the argument is a Scipy aggregate function.
# If None or an invalid function is input, 'mean' will be used.

ADD_SUFFIX_TO_AGGREGATED_COLUMN = True
# ADD_SUFFIX_TO_AGGREGATED_COLUMN = True will add a suffix to the
# aggregated column. e.g. 'responseVar_mean'. If ADD_SUFFIX_TO_AGGREGATED_COLUMN
# = False, the aggregated column will have the original column name.
SUFFIX = None
# suffix = None. Keep it None if no suffix should be added, or if
# the name of the aggregate function should be used as suffix, after
# "_". Alternatively, set it as a string. As recommendation, put the
# "_" sign in the beginning of this string to separate the suffix from
# the original column name. e.g. if the response variable is 'Y' and
# suffix = '_agg', the new aggregated column will be named as 'Y_agg'


# Grouped dataframe, and summary statistics dataframe returned as:
# grouped_df and summary_agg_df, respectively.
# Simply modify these objects on the left of equality:
grouped_df, summary_agg_df = group_dataframe_by_variable (df = DATASET, variables_to_group_by = VARIABLES_TO_GROUP_BY, return_summary_dataframe = RETURN_SUMMARY_DATAFRAME, subset_of_columns_to_aggregate = SUBSET_OF_COLUMNS_TO_AGGREGATE, aggregate_function = AGGREGATE_FUNCTION, add_suffix_to_aggregated_col = ADD_SUFFIX_TO_AGGREGATED_COLUMN, suffix = SUFFIX)

WARNING: Do not use this function to group the dataframe in terms of a timestamp. For this purpose, use function group_variables_by_timestamp.

/content/idsw/etl/joinandgroup.py:765: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  summary_agg_df = summary_agg_df.groupby(by = variable_to_group_by, as_index = False, sort = True).describe()

#### Case 2: do not return a statistics summary dataframe

In [ ]:
DATASET = dataset #Alternatively: object containing the dataset to be analyzed

VARIABLE_TO_GROUP_BY = 'categorical_column_name'
# of the column in terms of which the dataframe will be grouped by. e.g.
# VARIABLE_TO_GROUP_BY = "column1" will group the dataframe in terms of 'column1'.
# WARNING: do not use this function to group a dataframe in terms of a timestamp. To group by
# a timestamp, use function group_variables_by_timestamp instead.

RETURN_SUMMARY_DATAFRAME = False
# RETURN_SUMMARY_DATAFRAME = False. Set RETURN_SUMMARY_DATAFRAME = True if you want the function
# to return a dataframe containing summary statistics (obtained with the describe method).

SUBSET_OF_COLUMNS_TO_AGGREGATE = None
# SUBSET_OF_COLUMNS_TO_AGGREGATE: list of strings (inside quotes) containing the names
# of the columns that will be aggregated. Use this argument if you want to aggregate only a subset,
# not the whole dataframe. Declare as a list even if there is a single column to group by.
# e.g. SUBSET_OF_COLUMNS_TO_AGGREGATE = ["response_feature"] will return the column
# 'response_feature' grouped. SUBSET_OF_COLUMNS_TO_AGGREGATE = ["col1", 'col2'] will return columns
# 'col1' and 'col2' grouped.
# If you want to aggregate the whole subset, keep SUBSET_OF_COLUMNS_TO_AGGREGATE = None.

AGGREGATE_FUNCTION = 'mean'
# AGGREGATE_FUNCTION = 'mean': String defining the aggregation
# method that will be applied. Possible values:
# 'median', 'mean', 'mode', 'sum', 'min', 'max', 'variance',
# 'standard_deviation', 'cum_sum', 'cum_prod', 'cum_max', 'cum_min',
# '10_percent_quantile', '20_percent_quantile',
# '25_percent_quantile', '30_percent_quantile', '40_percent_quantile',
# '50_percent_quantile', '60_percent_quantile', '70_percent_quantile',
# '75_percent_quantile', '80_percent_quantile', '90_percent_quantile',
# '95_percent_quantile', 'kurtosis', 'skew', 'interquartile_range',
# 'mean_standard_error', 'entropy'
# To use another aggregate function, you can use the .agg method, passing
# the aggregate as argument, such as in:
# .agg(scipy.stats.mode),
# where the argument is a Scipy aggregate function.
# If None or an invalid function is input, 'mean' will be used.

ADD_SUFFIX_TO_AGGREGATED_COLUMN = True
# ADD_SUFFIX_TO_AGGREGATED_COLUMN = True will add a suffix to the
# aggregated column. e.g. 'responseVar_mean'. If ADD_SUFFIX_TO_AGGREGATED_COLUMN
# = False, the aggregated column will have the original column name.
SUFFIX = None
# suffix = None. Keep it None if no suffix should be added, or if
# the name of the aggregate function should be used as suffix, after
# "_". Alternatively, set it as a string. As recommendation, put the
# "_" sign in the beginning of this string to separate the suffix from
# the original column name. e.g. if the response variable is 'Y' and
# suffix = '_agg', the new aggregated column will be named as 'Y_agg'


# Grouped dataframe returned as grouped_df.
# Simply modify this object on the left of equality:
grouped_df = GROUP_DATAFRAME_BY_VARIABLE (df = DATASET, variable_to_group_by = VARIABLE_TO_GROUP_BY, return_summary_dataframe = RETURN_SUMMARY_DATAFRAME, subset_of_columns_to_aggregate = SUBSET_OF_COLUMNS_TO_AGGREGATE, aggregate_function = AGGREGATE_FUNCTION, add_suffix_to_aggregated_col = ADD_SUFFIX_TO_AGGREGATED_COLUMN, suffix = SUFFIX)

### **Creating columns with isolated information from the timestamps**
- Columns containing isolated information from the timestamp (each column with a given information):
    - Values of year, month, week, day, hour, minute, or second may be extracted.

In [36]:
date = dataset['year'].astype('str') + '-' + '01' + '-' + '01'
date = date.astype('datetime64[ns]')
date

0       1990-01-01
1       1991-01-01
2       1992-01-01
3       1993-01-01
4       1994-01-01
           ...
25933   2009-01-01
25934   2010-01-01
25935   2011-01-01
25936   2012-01-01
25937   2013-01-01
Name: year, Length: 25938, dtype: datetime64[ns]

In [40]:
df = dataset.copy(deep=True)
df.drop(columns=['year'], inplace=True)
df['date'] = date

### **Adding or subtracting a timedelta from a timestamp**
- Use this function for creating a column containing timestamps added or subtracted by a fixed timedelta value (offset).
- Set `timedelta` as a negative value to subtract this timedelta from the timestamp (as explained in the comments).

In [45]:
DATASET = df #Alternatively: object containing the dataset to be analyzed

TIMESTAMP_TAG_COLUMN = "date"
# "timestamp_grouped" is the column created by the function which aggregates the timestamps.
# Alternatively: string (inside quotes) containing the name (header) of the timestamp column
# on the left (from which the right timestamp will be subtracted).
# Keep inside quotes.

TIMEDELTA = 2
# Numeric value of the timedelta.
# WARNING: simply input a numeric value, not a string with unit. e.g. timedelta = 2.4
# If you want to subtract a timedelta, input a negative value. e.g. timedelta = - 2.4
# Alternatively, input any desired real number.

NEW_TIMESTAMP_COL = None
# Name of the new column containing the obtained timestamp.  If no value is provided, the
# default name [timestamp_tag_column]+[timedelta] will be given.
# Alternatively, input a string value inside quotes with the name of this new column.
# e.g. NEW_TIMESTAMP_COL = "new_timestamp"

TIMEDELTA_UNIT = 'day'
# Unit of the timedelta interval. If no value is provided, the unit will be considered 'ns'
# (default).
# Possible values are: TIMEDELTA_UNIT = None, 'day', 'hour', 'minute', 'second', or 'ns'.
# Keep the unit inside quotes.

# New dataframe saved as new_df. Simply modify this object on the left of equality:
new_df = add_timedelta (df = DATASET, timestamp_tag_column = TIMESTAMP_TAG_COLUMN, timedelta = TIMEDELTA, new_timestamp_col  = NEW_TIMESTAMP_COL, timedelta_unit = TIMEDELTA_UNIT)

DTypePromotionError: The DType <class 'numpy.dtypes._PyFloatDType'> could not be promoted by <class 'numpy.dtypes.DateTime64DType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes._PyFloatDType'>, <class 'numpy.dtypes.DateTime64DType'>)

## **Exporting the dataframe as CSV file (to notebook's workspace)**

In [68]:
## WARNING: all files exported from this function are .csv (comma separated values)

DATAFRAME_OBJ_TO_BE_EXPORTED = dataset
# Alternatively: object containing the dataset to be exported.
# DATAFRAME_OBJ_TO_BE_EXPORTED: dataframe object that is going to be exported from the
# function. Since it is an object (not a string), it should not be declared in quotes.
# example: DATAFRAME_OBJ_TO_BE_EXPORTED = dataset will export the dataset object.
# ATTENTION: The dataframe object must be a Pandas dataframe.

FILE_DIRECTORY_PATH = ""
# FILE_DIRECTORY_PATH - (string, in quotes): input the path of the directory
# (e.g. folder path) where the file is stored. e.g. FILE_DIRECTORY_PATH = ""
# or FILE_DIRECTORY_PATH = "folder"
# If you want to export the file to AWS S3, this parameter will have no effect.
# In this case, you can set FILE_DIRECTORY_PATH = None

NEW_FILE_NAME_WITHOUT_EXTENSION = "dataset1"
# NEW_FILE_NAME_WITHOUT_EXTENSION - (string, in quotes): input the name of the
# file without the extension. e.g. set NEW_FILE_NAME_WITHOUT_EXTENSION = "my_file"
# to export the CSV file 'my_file.csv' to notebook's workspace.

export_pd_dataframe_as_csv (dataframe_obj_to_be_exported = DATAFRAME_OBJ_TO_BE_EXPORTED, new_file_name_without_extension = NEW_FILE_NAME_WITHOUT_EXTENSION, file_directory_path = FILE_DIRECTORY_PATH)

Dataframe dataset1 exported as CSV file to notebook's workspace as 'dataset1.csv'.
Warning: if there was a file in this file path, it was replaced by the exported dataframe.

In [61]:
print(np.unique(dataset.country))

['Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Canada' 'Central African Republic' 'Chile' 'Colombia' 'Croatia'
 'Denmark' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea'
 'Estonia' 'Finland' 'France' 'Germany' 'Ghana' 'Greece' 'Guatemala'
 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'India' 'Indonesia' 'Iraq'
 'Ireland' 'Italy' 'Jamaica' 'Japan' 'Kazakhstan' 'Kenya' 'Latvia'
 'Lebanon' 'Lesotho' 'Libya' 'Lithuania' 'Madagascar' 'Malawi' 'Malaysia'
 'Mali' 'Mauritania' 'Mauritius' 'Mexico' 'Montenegro' 'Morocco'
 'Mozambique' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Norway' 'Pakistan' 'Papua New Guinea' 'Peru' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Tajikistan' 'Thailand' 'Tunisia' 'Turkey' 'Uganda'
 'Ukraine' 'United Kingdom' 'Uruguay' 'Zambia' 'Zimbabwe']

In [69]:
latam_countries = ['Argentina', 'Bahamas', 'Brazil', 'Chile', 'Colombia' , 'Dominican Republic','Ecuador','El Salvador' ,
'Guatemala','Guyana', 'Haiti', 'Honduras','Jamaica','Mexico','Nicaragua','Peru', 'Suriname', 'Uruguay' ]
latam_df = dataset[dataset['country'].isin(latam_countries)]
latam_df = latam_df.reset_index(drop=True)
latam_df

,country,year,item,avg_temp,average_rain_fall_mm_per_year,pesticide_use_tons,yield_hg_per_ha
0,Argentina,1990,Cassava,17.46,591.0,26156.0,100000
1,Argentina,1990,Cassava,17.67,591.0,26156.0,100000
2,Argentina,1990,Maize,17.46,591.0,26156.0,34608
3,Argentina,1990,Maize,17.67,591.0,26156.0,34608
4,Argentina,1990,Potatoes,17.46,591.0,26156.0,202747
...,...,...,...,...,...,...,...
6953,Uruguay,2013,"Rice, paddy",15.92,1300.0,19028.6,78812
6954,Uruguay,2013,Sorghum,15.92,1300.0,19028.6,42653
6955,Uruguay,2013,Soybeans,15.92,1300.0,19028.6,26333
6956,Uruguay,2013,Sweet potatoes,15.92,1300.0,19028.6,93902
6957,Uruguay,2013,Wheat,15.92,1300.0,19028.6,33177

EXPORT LATAM DATAFRAME

In [70]:
## WARNING: all files exported from this function are .csv (comma separated values)

DATAFRAME_OBJ_TO_BE_EXPORTED = latam_df
# Alternatively: object containing the dataset to be exported.
# DATAFRAME_OBJ_TO_BE_EXPORTED: dataframe object that is going to be exported from the
# function. Since it is an object (not a string), it should not be declared in quotes.
# example: DATAFRAME_OBJ_TO_BE_EXPORTED = dataset will export the dataset object.
# ATTENTION: The dataframe object must be a Pandas dataframe.

FILE_DIRECTORY_PATH = ""
# FILE_DIRECTORY_PATH - (string, in quotes): input the path of the directory
# (e.g. folder path) where the file is stored. e.g. FILE_DIRECTORY_PATH = ""
# or FILE_DIRECTORY_PATH = "folder"
# If you want to export the file to AWS S3, this parameter will have no effect.
# In this case, you can set FILE_DIRECTORY_PATH = None

NEW_FILE_NAME_WITHOUT_EXTENSION = "latam_df1"
# NEW_FILE_NAME_WITHOUT_EXTENSION - (string, in quotes): input the name of the
# file without the extension. e.g. set NEW_FILE_NAME_WITHOUT_EXTENSION = "my_file"
# to export the CSV file 'my_file.csv' to notebook's workspace.

export_pd_dataframe_as_csv (dataframe_obj_to_be_exported = DATAFRAME_OBJ_TO_BE_EXPORTED, new_file_name_without_extension = NEW_FILE_NAME_WITHOUT_EXTENSION, file_directory_path = FILE_DIRECTORY_PATH)

Dataframe latam_df1 exported as CSV file to notebook's workspace as 'latam_df1.csv'.
Warning: if there was a file in this file path, it was replaced by the exported dataframe.

## **Exporting dataframes as Excel file tables**

In [ ]:
## WARNING: all files exported from this function are .xlsx

FILE_NAME_WITHOUT_EXTENSION = "datasets"
# (string, in quotes): input the name of the
# file without the extension. e.g. new_file_name_without_extension = "my_file"
# will export a file 'my_file.xlsx' to notebook's workspace.

EXPORTED_TABLES = [{'dataframe_obj_to_be_exported': None,
                    'excel_sheet_name': None},]

# exported_tables is a list of dictionaries. User may declare several dictionaries,
# as long as the keys are always the same, and if the values stored in keys are not None.

# key 'dataframe_obj_to_be_exported': dataframe object that is going to be exported from the
# function. Since it is an object (not a string), it should not be declared in quotes.
# example: dataframe_obj_to_be_exported = dataset will export the dataset object.
# ATTENTION: The dataframe object must be a Pandas dataframe.

# key 'excel_sheet_name': string containing the name of the sheet to be written on the
# exported Excel file. Example: excel_sheet_name = 'tab_1' will save the dataframe in the
# sheet 'tab_1' from the file named as file_name_without_extension.

# examples: exported_tables = [{'dataframe_obj_to_be_exported': dataset1,
# 'excel_sheet_name': 'sheet1'},]
# will export only dataset1 as 'sheet1';
# exported_tables = [{'dataframe_obj_to_be_exported': dataset1, 'excel_sheet_name': 'sheet1'},
# {'dataframe_obj_to_be_exported': dataset2, 'excel_sheet_name': 'sheet2']
# will export dataset1 as 'sheet1' and dataset2 as 'sheet2'.

# Notice that if the file does not contain the exported sheets, they will be created. If it has,
# the sheets will be replaced.

FILE_DIRECTORY_PATH = ""
# FILE_DIRECTORY_PATH - (string, in quotes): input the path of the directory
# (e.g. folder path) where the file is stored. e.g. FILE_DIRECTORY_PATH = ""
# or FILE_DIRECTORY_PATH = "folder"
# If you want to export the file to AWS S3, this parameter will have no effect.
# In this case, you can set FILE_DIRECTORY_PATH = None


export_pd_dataframe_as_excel (file_name_without_extension = FILE_NAME_WITHOUT_EXTENSION, exported_tables = EXPORTED_TABLES, file_directory_path = FILE_DIRECTORY_PATH)

****

# **Grouping by Date in Pandas - Background and Documentation**

- Suppose we have timestamps with the datetime objects stored in column 'Date' of the dataframe df.

## In the examples below, we aggregate the dataframes by date (year, month, day, min) in terms of the mean values over the set time interval.
- The time interval is the aggregation bin.
- To aggregate in terms of sum, simply substitute .mean() by .sum().
- The same is applied to the other possible aggregate functions: median, var, std, min, max, etc.
- **There are many use cases where we want the total sum over a given period of time. In those cases, we apply the .sum() aggregate** function of Pandas, instead of the .mean() used in the next examples.

### WARNING: Before grouping, make sure that the 'Date' column stores a pandas Timestamp object, with resolution of at least seconds. For that, use:
`timestamp_object = pd.Timestamp(datetime_object, unit = 's')`
- For a resolution in other scale, simply modify this parameter. For instance, unit = 'ns' for nanoseconds.
- Check the pandas.Timestamp class documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html

## Calling Grouper class
- Firstly, convert all datetime objects into pandas.Timestamps.
- To group by dates, we must call the Grouper class:
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html

Syntax:

```
pandas.Grouper(key=None, level=None, freq=None, axis=0, sort=False)
```
- Notice that setting sort = True will sort the grouped values. We do not need to specify axis = 0, since it is the default.

## Group by Year

```
df.groupby(pd.Grouper(key='Date', freq='1Y')).mean()
```

In this case, we grouped by intervals of 1 year. We could group by different values of years, though. For instance:

```
df.groupby(pd.Grouper(key='Date', freq='2Y')).mean()
```
Groups by intervals of 2 years.

## Group by Month

```
df.groupby(pd.Grouper(key='Date', freq='1M')).mean()
```
- Again, we could modify the number of months. For instance, the aggregation by trimesters is done as:

```
df.groupby(pd.Grouper(key='Date', freq='3M')).mean()
```

## Group by Week

```
df.groupby(pd.Grouper(key='Date', freq='1W')).mean()
```
- As usual, simply modify the number before 'W' to change the number of weeks in the grouping.
- The substitution of '1W' by '2W' results in the aggregation every 2 weeks.

## Group by Day

```
df.groupby(pd.Grouper(key='Date', freq='1D')).mean()
```

- If you want to group by a different number of days, simply modify the number before 'D'.
- The group by every two days, so, is performed as `df.groupby(pd.Grouper(key='Date', freq='2D')).mean()`; whereas `df.groupby(pd.Grouper(key='Date', freq='5D')).mean()` groups by every five days.

## Group by Hour

```
grouper = df.groupby([pd.Grouper(freq='1H'), 'Location'])
```

## Group by Minute

```
df.groupby(pd.Grouper(key='Date', freq='1min')).mean()
```
- To group by every 15 mins: `df.groupby(pd.Grouper(key='Date', freq='15min')).mean()`
- To group by every 2 mins: `df.groupby(pd.Grouper(key='Date', freq='2min')).mean()`

## Group by Second

The next example upsample the time series into 30 second bins.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.asfreq.html

```
df.asfreq(freq='30S')
```

### Adjusting the time bins based on a fixed timestamp:
- Suppose a grouping by every 17 mins.
- You can specify an origin or specify an offset (equivalent):

```
df.groupby(pd.Grouper(key='Date', freq='17min', origin='2000-01-01')).mean()
```

If the resolution of the timestamps is in days, the grouping will consider the first instant as 00:00:00. So, the following lines are completely equivalent: in the second one, we simply specified the offset in hours and minutes to not start the grouping by 00:00:00 of a given day (we specifically set the first day to start from '23h30min' after 00:00:00:

```
df.groupby(pd.Grouper(key='Date', freq='17min', origin='2000-10-01 23:30:00')).mean()
df.groupby(pd.Grouper(key='Date', freq='17min', offset='23h30min')).mean()
```
The same output can be obtained by defining a string or timestamp and passing it as argument:

```
start = '2000-10-01 23:30:00'
df.groupby(pd.Grouper(key='Date', freq='17min', origin= start)).mean()
```

Now, suppose the timestamps contain the hour information (e.g.: 01:10:20). Now, the **'offset' parameter will represent a moment for starting after the first timestamp.**
- That is because our timestamp is not necessarily 00:00:00, as before.
- When the hours are not declare, Python gives the time 00:00:00 to each timestamp.
- So, if we have `offset='2min'` the first timestamp of the grouping bins will be 2 min after the first timestamp of the dataframe df.
- Therefore, the `offset = 'XXhYYmin'` indicates to the `Grouper` class that the first bin should start with an offset of XX h and YY min in relation to the first timestamp, i.e., XX h and YY min after the first timestamp.

# **Merging (joining) the data by a timestamp with Pandas - Background and Documentation**
- We could use the .merge method, but this will not return an ordered dataframe.
- Let's use the .merge_ordered instead.
- If the data is not synchronous, we can perform the fuzzy merging using the .merge_asof method.

## Methods comparison
_From Datacamp course: Joining Data with pandas, chapter 4 - Merging Ordered and Time-Series Data_

### .merge() method:
- Column(s) to join on: on , left_on , and right_on
- Type of join: how (left, right, inner, outer) {{@}}
    - Default: 'inner'.
- Overlapping column names: suffixes
- Calling the method: df1.merge(df2)

### .merge_ordered() method:
- Column(s) to join on: on , left_on , and right_on
- Type of join: how (left, right, inner, outer)
    - Default: 'outer'.
- Overlapping column names: suffixes
- Calling the method: pd.merge_ordered(df1, df2)

Examples:

```
import pandas as pd
pd.merge_ordered(appl, mcd, on='date', suffixes=('_aapl','_mcd'))
```
#### Forward fill: fills missing with previous value

```
pd.merge_ordered(appl, mcd, on='date', suffixes=('_aapl','_mcd'), fill_method='ffill')
```
- When to use merge_ordered()?
    - Ordered data / time series.
    - Filling in missing values.

### .merge_asof() method:
- Similar to a merge_ordered() left join.
    - Similar features as merge_ordered().
- Match on the nearest key column and not exact matches.
    - Merged "on" columns must be sorted.

```
pd.merge_asof(visa, ibm, on='date_time', suffixes=('_visa','_ibm'))
```
#### merge_asof() example with direction
```
pd.merge_asof(visa, ibm, on=['date_time'], suffixes=('_visa','_ibm'), direction='forward')
```

direction: ‘backward’ (default), ‘forward’, or ‘nearest’.
-'nearest' allows both directions.
- merge_asof does not allow filling. Check:
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_ordered.html#pandas.merge_ordered


- When to use merge_asof()
    - Data sampled from a process.
    - Developing a training set (no data leakage).
    - .merge_asof uses fuzzy matching, so the HOW parameter is not applicable.